/*-------------------------------------------
  General
-------------------------------------------*/
body {
  @extend %body; // default body text styles
  color: $gray-dk;
  padding: 40px 20px;

  &:before,
  &:after {
    bottom: 0;
    content: '';
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
  }
  &:before {
    background: linear-gradient(50deg, $gray-xlt, $white) no-repeat;
  }
  &:after {
    border: 20px solid $white;
  }
}

// Wrapper
.rap {
  margin: 0 auto;
  max-width: rem(640);
  padding: 0 20px;
  position: relative;
}

/*-------------------------------------------
  Flexbox
-------------------------------------------*/
%flexbox {
	display: flex;
}
%justify {
	justify-content: space-between;
}
%align-center {
	align-self: center;
}

/*-------------------------------------------
  Positioning
-------------------------------------------*/
%center-vert {
  top: 50%;
  transform: translateY(-50%);
}

/*-------------------------------------------
  Lists
-------------------------------------------*/
%list-reset {
  list-style: none;
  margin: 0;
}
%inline-list {
  @extend %list-reset;

  > li {
    display: inline-block;
  }
}

/*-------------------------------------------
  Animations
-------------------------------------------*/
%transition-ease {
  transition: all .125s ease;
}
%transition-linear {
  transition: all .125s linear;
}
%transition-inout {
  transition: all .25s cubic-bezier(.68, -.55, .265, 1.55);
}
