/*-------------------------------------------
  Breakpoints
-------------------------------------------*/
$desktop: em(1024);
$tablet: em(768);
$mobile-lg: em(480);

/*-------------------------------------------
  Border Radius
-------------------------------------------*/
$round-sm: 2px;
$round-md: 6px;
$round-lg: 50%;

/*-------------------------------------------
  Colors
-------------------------------------------*/
$black: #000;
$white: #fff;
$gray: #555;
$gray-dk: darken($gray, 20%);
$gray-md: lighten($gray, 20%);
$gray-lt: lighten($gray, 40%);
$gray-xlt: lighten($gray, 62.5%);

$green: #00dd00;
$red: #dd0000;
$blue: #55bbdd;
$yellow: #ffda67;
$purple: #8d67cc;

// States
$active: $blue;
$error: $red;

// Accents
$accent: $purple;
$accent-2: $blue;

/*-------------------------------------------
  Typefaces
-------------------------------------------*/
$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
