/*-------------------------------------------
  Button
-------------------------------------------*/
%btn-reset {
  border: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.btn, button {
  @extend %btn-reset;
  background: $accent;
  border-radius: $round-sm;
  color: $white;
  @extend %h4; // font-size: rem(16)
  padding: 10px 20px;
  @extend %transition-ease;

  &:before {
    background: $gray-dk;
    border-radius: $round-lg;
    color: $yellow;
    content: '';
    display: inline-block;
    height: 20px;
    margin: -4px 10px 0 -30px;
    opacity: 0;
    vertical-align: middle;
    transform: scale(.75);
    visibility: hidden;
    width: 20px;
    @extend %transition-ease;
  }
}
.btn-success {
  background: $yellow;
  color: $gray-dk;

  &:before {
    content: '✔';
    opacity: 1;
    transform: none;
    visibility: visible;
  }
}
.btn-link {
  background: none;
  color: $accent-2;
  padding: 0;
  text-decoration: underline;
}
