/*-------------------------------------------
  Result Styles
-------------------------------------------*/
.result_refresh {
  display: inline-block;
  @extend %h4; // font-size: rem(16)
  margin-left: 5px;
  transform: translateY(-2px);

  &:before {
    content: '(';
    margin-right: 3px;
  }
  &:after {
    content: ')';
    margin-left: 3px;
  }
}
.result_btn {
  display: block;
  margin: 20px 0;
  width: 100%;
}
